@import url(https://fonts.googleapis.com/css?family=Sofia+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

$accent: #b53471;
$white: #f1e8e8;
$black: #49062e;

$hard-dark-accent: darkest($accent, 30%);
$dark-accent: darkest($accent, 18%);

$bx-accent: 0 4px 4px rgba($accent, 0.25);
$bx-16: 0 3px 6px rgba(0, 0, 0, 0.16);

$default-font: 'Sofia Sans', sans-serif;
$mobile: 480px;
